body{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
}
form{
    display:flexbox;
}
#btnCalcular{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

input{
    float: right;
}
select{
    float: right;
}