body{
    font-family: Arial, Helvetica, sans-serif;
    background: bisque;
}

#all{
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 0.125em solid;
    border-radius: 2em;
    padding: 3em;
}

#divAll{
    display: grid;
    column-gap: 1em;
}

#divOne{
    display: grid;
    column-gap: 1em;
    column-width: auto;
}

.brInput{
    grid-column: 1;
    display: grid;
    column-gap: 1em;
    column-count: 3;
}

#nationInput{
    display: grid;
    grid-auto-flow: row;
    grid-column: 2;
    grid-row: span 2;
}

#nationLabel{
    margin: auto;
}
#nationImage{
    margin: auto;
}

#nationLabel{
    grid-row: 1;
}

#inputOne{
    margin-top:auto;
    grid-row: 1;
}

#inputTwo{
    margin-top: auto;
    grid-row: 1;
}

#selectBR{
    margin-top: 1em;
}

#chkText{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    grid-column: span 2;
}

#submitButton{
    display: flex;
    margin: auto;
}